apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: mlops-pipeline-
  namespace: argo
spec:
  entrypoint: ml-workflow
  
  # PVC для обмена файлами
  volumeClaimTemplates:
  - metadata:
      name: workdir
    spec:
      accessModes: [ "ReadWriteMany" ]
      resources:
        requests:
          storage: 1Gi

  # Шаблоны для задач
  templates:
  - name: ml-workflow
    dag:
      tasks:       
      - name: load-data
        template: run-step
        arguments:
          parameters:
          - name: cmd
            value: "python3 src/load_data.py --output /mnt/data"

      - name: split-data
        dependencies: [load-data]
        template: run-step
        arguments:
          parameters:
          - name: cmd
            value: "python3 src/split_data.py --data-dir /mnt/data"

      - name: train-model
        dependencies: [split-data]
        template: run-step
        arguments:
          parameters:
          - name: cmd
            value: "python src/train.py --data-dir /mnt/data --params-file config/model-params.yaml"

      - name: validate-model
        dependencies: [train-model]
        template: run-step
        arguments:
          parameters:
          - name: cmd
            value: "python3 src/validate.py --data-dir /mnt/data"

  # Универсальный шаблон запуска
  - name: run-step
    inputs:
      parameters:
      - name: cmd
    container:
      image: nickosipov/otus-argo-workflows:latest
      imagePullPolicy: Always
      command: ["/bin/sh", "-c"]
      args: ["{{inputs.parameters.cmd}}"]
      volumeMounts:
      - name: workdir
        mountPath: /mnt/data